<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TP4: Evènements</title>
</head>

<body>
<h2>List des évènements: </h2>

<table>
    <tr>
        <th>numEven</th>
        <th>Intitule</th>
        <th>Date_debut</th>
        <th>Duree</th>
        <th>Theme</th>
        <th>Organisateur</th>
        <th>typeEvent</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    <tr th:each="event : ${evenements}">
        <td th:text="${event.getnumEven()}">numEven</td>
        <td th:text="${event.intitule}">Intitule</td>
        <td th:text="${event.getdateDebut()}">DateDebut</td>
        <td th:text="${event.duree}">Duree</td>
        <td th:text="${event.theme}">Theme</td>
        <td th:text="${event.organisateur}">Organisateur</td>
        <td th:text="${event.gettypeEvent()}">typeEvent</td>
        <td><a th:href="@{/editEvent/{id}(id=${event.getnumEven()})}">Edit</a></td>
        <td><a th:href="@{/deleteEvent/{id}(id=${event.getnumEven()})}">Delete</a></td>
    </tr>
</table>

<p>Ajouter un évènement <a href="/addEvenement">ici</a></p>

</body>
</html>