<!DOCTYPE html>
<html xmlns=http://www.w3.org/1999/xhtml xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TP4: Participants</title>
</head>

<body>
<h2>Liste des participants</h2>

<table>
    <tr>
        <th>Num_pers</th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>DateNaiss</th>
        <th>Email</th>
        <th>Organisation</th>
        <th>Event</th>
    </tr>

    <tr th:each="participant : ${participants}">
        <td th:text="${participant.numPers}">numPers</td>
        <td th:text="${participant.nom}">Nom</td>
        <td th:text="${participant.prenom}">Prenom</td>
        <td th:text="${participant.dateNaiss}">Date_naiss</td>
        <td th:text="${participant.email}">Email</td>
        <td th:text="${participant.organisation}">Organisation</td>
        <td th:text="${participant.event.getnumEven()}">Event</td>
    </tr>
</table>

<p>Ajouter un participant <a href="/addParticipant">ici</a></p>

</body>
</html>